schemas/synthetic/sub/credentials.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">

  <!-- Primitive type alias: restriction base with no enumerations.
       spear-gen should resolve fields of this type to Vec<u8>. -->
  <xs:simpleType name="SecurityToken">
    <xs:restriction base="xs:base64Binary"/>
  </xs:simpleType>

  <!-- Another alias — maps to String -->
  <xs:simpleType name="CallSign">
    <xs:restriction base="xs:string"/>
  </xs:simpleType>

  <!-- ComplexType in a subdirectory to exercise recursive scanning -->
  <xs:complexType name="Credentials">
    <xs:sequence>
      <xs:element name="Token" type="SecurityToken"/>
      <xs:element name="Label" type="CallSign"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
